ul {
    list-style: none;
}

img {
    width: 25px;
}

input[type="menu"]
{
    display: none;
}

nav
{ 
    background-color: black;
    width: 350px;
    height: 100%;
}

a{
    display: block;
    padding: 20px 5px;
    color: white;
}

input[type="menu"]:checked~nav
{
    transform: translateX(350px);
}
