ul {
    list-style: none;
}

img {
    width: 25px;
}

input[type="menu"]
{
    display: none;
}

nav
{ 
    background-color: black;
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

input[type="menu"]:checked~nav
{
    transform: translateX(350px);
}