<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>sigma notícias</title>
    <link rel="stylesheet" href="header.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo"><img src="../assets/images/logo.png"></a>
        <nav class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SOBRE NÓS</a></li>
                <li><a href="#">CATEGORIAS</a> 
                   <ul>
                    <li><a href="#">ESPORTES</a></li>
                    <li><a href="#">BELEZA</a></li>
                    <li><a href="#">SÉRIE</a></li>
                    <li><a href="#">MÚSICA</a></li>
                    <li><a href="#">ECONOMIA</a></li>
                    <li><a href="#">VESTIBULAR</a></li>
                   </ul>
                </li>
                <li><a href="#">QUIZ</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>
        <div class="buscar">
            <input class="seach-txt" type="text" name="" placeholder="buscar">
            <a class="search-btn" href="#"></a>
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </header>
</body>
</html>