* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(3, 3, 30);
    box-shadow: 0 5px 10px rgb(white);
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

img {
    height: 110px;
    width: 110x;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    position: relative;
    float: left;
}

.menu ul li a {
    font-size: 18px;
    padding: 15px;
    color: white;
    display: block;
}

ul {
    margin-right: 200px;
}

.menu li a:hover {
    background: rgb(168,168,207);
    color: black;
}