body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

#cards {
    display: flex;
    margin: 10px;
}

.avo {
    display: flex;
    margin-left: 5px;
}

h1 {
    text-align: center;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

#h3divprincipal {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

#subnoticias {
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-left: 35px;
}

#h1card {
    font-size: 22px;
    color: black;
    margin: 90px;
    padding: 0;
}

#categorias {
    text-align: center;
    font-size: 30px;
}

#divpublicação2 {
    display: flex;
    padding: 5px;
}

#subnoticiastext {
    font-size: 19px;
    padding: 8px;
    margin-left: 5px;
}

#imagens {
    border-radius: 100%;
    margin-left: 40px;
    padding: 0;
}

#lançamento {
    font-size: 30px;
    padding: 5px;
}

#articlemae {
    font-family: 'Times New Roman', Times, serif;
}

#comentário {
    font-size: 25px;
    text-align: center;
}

#publicado2 {
    font-size: 20px;
    margin-left: 5px;
}

#fotos {
    border-radius: 100%;
    margin-left: 5px;
    padding: 8px;
}

#nomes {
    display: flex;
    padding: 10px;
}

#hora {
    font-size: 15px;
}

#coment {
    margin-left: 5px;
    font-size: 21px;
}

#like {
    display: flex;
    margin: 5px;
}

#base1 {
    margin-left: 150px;
    width:540px
}

#base2 {
    margin-left: 300px;
    width:300px
}

#p3 {
    font-size: 20px;
    margin-left: 5px;
    text-align: left;
    padding: 10px;
    margin-right: 5px;
}

h3 {
    font-size: 20px;
   text-align: center;
}

#propaganda {
    text-align: center;
}

#divcomentarios1 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
}

#divcomentarios2 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(29, 0, 156);
}

#divcomentarios3 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
}

#divcomentarios4 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(29, 0, 156);
}
#link {
    text-decoration: none;
}
#imagemcard2{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(29, 0, 156);
    margin: 47px;
    -webkit-box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    width: 200px;
    height: 200px;
    padding: 0;

}
#imagemcard1{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
    margin: 47px;
    -webkit-box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    width: 200px;
    height: 200px;
    padding: 0;

}
#footer{
    margin: -10px;
}
#fotos{
    width: 80px;
    height: 80px;
}
#basevirginia{
    width: 138px;
}
#batomrosa{
    width:140px
}
#karen{
    width:148px 
    height:138px
}
@media (max-width: 600px) {

    .avo,
    #articlepai,
    #articlemae {
        flex-direction: column;
        width: 100vw;
        text-align: center;
        justify-content: center;
        padding: 0%;

    }

    #articlepai {
        margin: 0%;
    }

    h1{
        font-size: 38px;
    }
    h2 {
        text-align: center;
        font-size: 23px;
    }
    .sect1 {
        margin-left: -0%;
        width: 93vw;
        margin-right: -3%;
        flex-direction: column;
        padding: 1%;
        margin-bottom: 2%;

    }

    .sect2 {
        margin-left: -0%;
        width: 93vw;
        margin-right: -3%;
        flex-direction: column;
        padding: 1%;
        margin-bottom: 2%;

    }
    .sect3{
        margin-left: -0%;
        width: 93vw;
        margin-right: -3%;
        flex-direction: column;
        padding: 1%;
        margin-bottom: 2%;
    }

    #div1 {
        flex-direction: column;
    }

    #fotos {
        width: 15vw;
        height: 10vh;
    }
    #fotos2{
        width: 5vw;
    }

    #propaganda {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 0%;
    }

    #imgpropag {
        width: 80vw;
        text-align: center;
        margin-left: 6%;
    }
    #p1 {
        text-align: center;
        font-size: 25px;
        margin-left: 1%;
        padding: 1px;
    }
    #p2{
        text-align: center;
        font-size: 18px;
        margin-left: 3%;
        padding: 5px;
    }
    #p4{
        text-align: center;
        font-size: 18px;
        margin-left: 3%;
        padding: 5px;
    }
    #p3{
        text-align: center;
        font-size: 18px;
        margin-left: 3%;
        padding: 5px;
    }
    #comentário {
        font-size: 20px;
        text-align: center;
    }
    #publicado2 {
        font-size: 18px;
        margin-left: 7px;
    }
    #hora {
        font-size: 15px;
    }
    #coment {
        margin-left: 5px;
        font-size: 19px;
    }
    #like {
        display: flex;
        margin: 5px;
        font-size: 15px;
    }
    .sect5{
        width: 95vw;
        display: flex;
        flex-direction: column;
    }

   
    h3{
        font-size: 18px;
    }

    #skin2 {
        font-size: 25px;
        margin-left: 5%;
    }
    #base1{
        width: 85vw;
        margin: 0;
        text-align: center;
        padding: 0;

    }
    #base2{
        width: 60vw;
        margin: 0;
        text-align: center;
        padding: 0;
    }
#cards{
    flex-direction: column;
    width: 100vw;
    text-align: center;
    justify-content: center;
    padding: 0%;
}
#divpublicação2{
    flex-direction: column;
    width: 70vw;
    text-align: center;
    justify-content: center;
    padding: 0%;
    display: flex;
    margin-left: 13%;
}
#basevirginia{
    text-align: center;
    margin-left: 25%;
    width: 40vw;
}
#batomrosa{
    width: 40vw;
    margin-left: 25%;
    text-align: center;
    height: 30vh;
}
#karen{
    width: 55vw;
    margin-left: 12%;
    text-align: center;
    height: 25vh;
}
#h3divprincipal{
    font-size: 28px;
}
#lançamento{
    font-size: 23px;
}
#subnoticias{
    font-size: 22px;
    margin-right: 10%;
}
#divprincipal{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}
}
