#cabelos {
    color: rgb(15, 53, 86);
    font-size: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fraseimagem {
    color: rgb(125, 192, 223);
}

#p1 {
    color: rgb(15, 53, 86);
}

.sect1 {
   
}

.sect2 {
   
}

body {
   
}

a {
   
}

#p3 {
   
}

#cabelos2 {
    
}

#cabelos3 {
    
}

.sect3 {
   
}

.sect4 {
    
}

h3 {
    
}