#cabelos {
    color: rgb(15, 53, 86);
    font-size: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fraseimagem {
    color: rgb(125, 192, 223);
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p1 {
    color: rgb(125, 192, 223);
    text-align: center;
    font-size: 18px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect1 {
   text-align: center;
}
.sect2 {
   text-align: center;
}
body {
   background-color: white;
}
#p3 {
    text-align: center;
    font-size: 18px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cabelos2 {
    text-align: left;
    color:rgb(15, 53, 86) ;
    font-size: 25px;
    margin-left: 7%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect4 {
    text-align: center;
}
h3 {
    color: rgb(15, 53, 86);
    text-align: left;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 7%;
}