body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

#div-principal {
    display: flex;
    background-color: rgb(14, 14, 15);
    border-radius: 5px;
    border-left: 10px solid rgb(177, 31, 31);
    margin-right: 15px;
    margin-bottom: 60px;

}

.div-grande {
    width: 80%;
    padding: 0;
}
.div-grande-news {
    padding: 0;
}

p {
    text-align: center;
    font-size: 15px;

}

.h3-divgrande {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #070776;
    width: 70%;
    margin-bottom: 2%;
}

#h2-mariele {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 0%;
    margin-bottom: 0%;
}

#img-mariele {
    width: 799px;
    height: 390px;
    margin-left: 15px;
    margin-right: 15px;
}

#img-msc {
    width: 250px;
    padding-top: 15px;


}

.img_text {
    display: flex;

}

.img_text2 {
    display: inline;
    text-align: left;

}


#img-fut-comeco {
    width: 250px;


}

#img-comotreidragao {
    width: 255px;
    height: 140px;
    margin-right: 2px;
}

.div-lateral {
    width: 30px;
    display: flex;
}

#avo {
    display: flex;

}

#pai1 {
    width: 70%;
    padding: 10px;
}

#mae {
    width: 26%;
    border-left: 4px solid rgb(177, 31, 31);
    padding: 5px;
    background-color: rgb(224, 223, 223);
    margin: 0;
}

.tio {
    display: flex;
}

#img-sesi {
    width: 255px;
    margin-top: 0%;
}

#img-netflix {
    width: 255px;
    margin-top: 0%;
}

#img-drone {
    width: 255px;
    margin-top: 0%;

}

#img-bolsonaro {
    width: 255px;
    border-radius: 3px;
}

#img-will {
    width: 165px;
    border-radius: 3px;
}

#img-fisiculturismo {
    margin-top: 20px;
    width: 200px;
    height: 150px;


}

#tia {
    margin-top: 50px;
}

#img-karin {
    width: 200px;
    border-radius: 3px;
}

#img-escola {
    width: 370px;
}

#img-cabelo {
    width: 155px;
}

.hr {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 40px;
    font-size: 10px;
    color: rgb(1, 1, 76);
}

.p-text {
    text-align: justify;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color:black;

}

.olhinho {
    display: flex;

    margin-left: 100px;
}

.containerTitleandCounter {
    display: flex;
}

.imgOlhoandCounter {
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
    padding-top: 0%;

}

.containerImgandLink p,
a {
    text-align: left;
    text-decoration: none;
    color: rgb(129, 129, 129);
}

.positionOlho {
    display: flex;
    justify-content: space-between;
}

.p-recado {
    margin: 0px;
    text-shadow: 1px 2px 8px rgba(124, 124, 124, 0.83);
}

#div-propaganda {
    margin-top:50px !important;
    margin: 0;
    padding: 20px;
    height: 400px;
    

}

#banner_final{
    border-radius: 50px;
}

#botao-bolinha {
    width: 20px;
    display: flex;
    text-align: center;
}

.a-main{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    margin: 5px;
    -webkit-box-shadow: 10px -7px 57px -32px rgba(0,0,0,0.8);
-moz-box-shadow: 10px -7px 57px -32px rgba(0,0,0,0.8);
box-shadow: 10px -7px 57px -32px rgba(0,0,0,0.8);
border-radius: 20px;
padding: 20px;
margin-top: 20px;
margin-bottom: 20px;
    
}

.div-grande-subnews{
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 5px;
    -webkit-box-shadow: 10px -7px 57px -32px rgba(0,0,0,0.8);
-moz-box-shadow: 10px -7px 57px -32px rgba(0,0,0,0.8);
box-shadow: 10px -7px 57px -32px rgba(0,0,0,0.8);
border-radius: 20px;
padding: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.img-div-grande-news{
    width: 256px;
    height: 256px;
}

img{
    border-radius: 10px;
}