/* body {
    background-color: #ffffff;
    margin: 0;

}

#div1 {
    background-color: #656d8c;
    border-radius: 12px;
    box-shadow: 0px 0px 20px black;
    padding: 30px;
    padding-bottom: 10px;
    width: 900px;
    margin-left: 175px;
}

h1 {
    text-align: center;
    font-size: 45px;
}

#footer {
    margin: -3px;
}

#button {
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 30);
    border-radius: 5px;
}
#div{ 
    background-color: #656d8c;
    border-radius: 12px;
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    padding-bottom: 50px;
    width: 900px;
    margin-left: 175px;
    margin-top: 15px;
}
#botão{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 30);
    border-radius: 5px;

}
#botão1{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 30);
    border-radius: 5px;
}
 */

#header {
    width: 100%;
}

#footer {
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
}

#div1 {
    height: 350px;
}

.cardItem {
    background-color: rgb(233, 230, 227);
    border-radius: 12px;
    box-shadow: 0px 0px 20px black;
    margin-left: 200px;
    padding: 30px;
    height: 180px;
    padding-bottom: 60px;
    width: 900px;
    margin-bottom: 40px;
}

#b1 {
    margin-left: 850px;
}

.fotinha {
    width: 18px;
    height: 20px;

}

h1 {
    text-align: center;
    font-size: 45px;
}

article {
    background-color: rgb(13, 16, 61);
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    padding: 30px;
    padding-bottom: 10px;
    width: 900px;
    margin-left: 200px;
    margin-bottom: 40px;
    -webkit-box-shadow: 11px 13px 20px 1px rgba(47, 24, 97, 1);
    -moz-box-shadow: 11px 13px 20px 1px rgba(47, 24, 97, 1);
    box-shadow: 11px 13px 20px 1px rgba(47, 24, 97, 1);
    color: white;


}

#footer {
    height: 40vh;
}

#botao {
    color: rgb(255, 255, 255);
    border-radius: 5px;
}


@media(max-width: 600px) {
    #header {
        height: 400px;
        width: 100%;
    }

    #footer {
        width: 100%;
        height: 290px;
        position: absolute;
        margin-bottom: 0;
    }

    #botao {
        color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    #b1 {
        margin-left: 200px;
    }

    .cardItem {
        background-color: rgb(233, 230, 227);
        border-radius: 12px;
        box-shadow: 0px 0px 20px black;
        width: 250px;
        margin-left: 50px;
        height: 200px;
    }
.fotinha{
    width: 18px;
    height: 20px;
    padding-left: 240px;

}
    article {
        background-color: rgb(13, 16, 61);
        border-radius: 12px;
        box-shadow: 0px 0px 20px black;
        width: 300px;
        height: 62vh;
        margin-left: 10px;
        box-shadow: rgba(29, 2, 150, 0.493) 0px 5px, rgba(24, 10, 104, 0.466) 0px 10px, rgba(42, 24, 107, 0.349) 0px 15px, rgba(30, 27, 75, 0.288) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;



    }

    body {
        width: 100%;
        height: 100%;
    }

    h1 {
        text-align: center;
        font-size: 50px;
    }

    #titulo {
        width: 60vw;
        margin-top: 0px;
    }

    #descricao {
        width: 60vw;
    }

    #autor {
        width: 60vw;
        margin-bottom: 15px;

    }

    #data {
        width: 60vw;

    }

    h3 {
        font-size: 23px;
    }

    .cardItem {
        background-color:rgb(13, 16, 61);
        border-radius: 12px;
        box-shadow: 0px 0px 20px black;
        width: 300px;
       padding: auto;
        margin-left: 10px;
        color: white;
        box-shadow: rgba(29, 2, 150, 0.493) 0px 5px, rgba(24, 10, 104, 0.466) 0px 10px, rgba(42, 24, 107, 0.349) 0px 15px, rgba(30, 27, 75, 0.288) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    #b1{
        margin-bottom: 70px;
    }

    p{
        font-size: 20px;
    }

    

}