body{
    background-color: white;
}
#make{
    color: rgb(15, 53, 86);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: solid 4px;
    border-radius: 5px;
}
h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(125, 192, 223);
}
.sect1{
    text-align: center;
}
#make2{
    border-left: solid 5px;
  border-color:  rgb(15, 53, 86);
  font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 5%;
}
#make3{
    border-left: solid 5px;
  border-color: rgb(125, 192, 223) ;
  font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 5%;
    color: rgb(15, 53, 86);
}
.sect2{
    color:rgb(15, 53, 86) ;
    text-align: center;
    
}
#p1{
    font-size: 24px;
    text-align: center;
    padding: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-size: 27px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(125, 192, 223);
}
#p2{
    font-size: 17px ;
    color:black ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#imagem1{
    border-radius: 10px;
}
#imagem2{
    border-radius: 10px;
}
#section{
   border: solid 4px;
    border-radius: 5px;
    border-color: rgb(15, 53, 86);
    margin: 8px;
    padding: 2px;
}