body {
    background-color: white;
}

#make {
    color: rgb(15, 53, 86);
}

h2 {
    color: rgb(125, 192, 223);
}

.sect1 {
    
}

#make2 {
    
}

#make3 {
    
}

.sect2 {
    
}

#p1 {
   
}

h3 {
   
}

#p2 {
   
}

#imagem1 {
   
}

#imagem2 {
   
}

#section {
    
}