body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    
}
h1{
    color: black;
    background: white;
}