body{
    background-color: white;
}
#skin{
    color: rgb(15, 53, 86);
    font-size: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect1{
    text-align: center;
}