body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

#unha {
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 23px;
}

.sect1 {
    text-align: center;
    margin: 40px;
}

#unha2 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-left: 7%;
}

#p1 {
    text-align: left;
    font-size: 18px;
    padding: 8px;
}

.sect2 {
    text-align: center;
    margin: 30px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 20px;
    -webkit-box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.75);
    border-left: 4px solid rgb(177, 31, 31);

}

#unha3 {
    text-align: center;
    color: rgb(0, 0, 0);
}

#p2 {
    font-size: 23px;
}

#fotos {
    border-radius: 100%;
    margin: 20px;
    height: 200px;
    width: 200px;
}

#cuidados {
    padding: 20px;
    text-align: left;
}

#imagens {
    margin: 50px;
    width: 400px;
    height: 500px;
}

.sect3 {
    display: flex;
    margin-left: 50px;
}

#comentários {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: auto;
    width: 30%;
    padding: 100px;
    height: 50%;
}

#articlemae {
    font-family: 'Times New Roman', Times, serif;
}

#comentário {
    font-size: 25px;
    text-align: center;
}

#fotos3 {
    border-radius: 100%;
    margin-left: 5px;
    padding: 8px;
    width: 50px;
    height: 50px;
}

#nomes {
    display: flex;
    padding: 10px;
}

#hora {
    font-size: 15px;
}

#coment {
    margin-left: 5px;
    font-size: 21px;
}

#like {
    display: flex;
    margin: 5px;
}

#divcomentarios1 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
}

#divcomentarios2 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
}

#divcomentarios3 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
}

#divcomentarios4 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 4px solid rgb(177, 31, 31);
}

#publicado2 {
    font-size: 20px;
    margin-left: 5px;
}

#fotos {
    border-radius: 100%;
    margin-left: 5px;
    padding: 8px;
}

.avo {
    display: flex;
    margin-left: 5px;
}

#fotos2 {
    border-radius: 100%;
    margin: 10px;
    height: 160px;
    width: 160px;
}
#propaganda{
    padding: 10px;
}
#footer{
    margin: -4px;
}