body{
    background-color: white;
}
#unha{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect1{
    text-align: center;
}
#unha2{
    text-align: left;
    color:rgb(0, 0, 0) ;
    font-size: 25px;
    margin-left: 7%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p1{
    text-align: center;
    font-size: 15px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect2{
    text-align: center;
}
#unha3{
    text-align: center;
    color: rgb(0, 0, 0);
}
#p2{
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fotos{
    border-radius: 100%;
    margin: 20px;
}
