body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
#unha{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
}
.sect1{
    text-align: center;
}
#unha2{
    text-align: left;
    color:rgb(0, 0, 0) ;
    font-size: 25px;
    margin-left: 7%;
}
#p1{
    text-align: center;
    font-size: 15px;
    padding: 8px;
}
.sect2{
    text-align: center;
    display: block;
}
#unha3{
    text-align: center;
    color: rgb(0, 0, 0);
}
#p2{
    font-size: 23px;
}
#fotos{
    border-radius: 100%;
    margin: 20px;
}
#cuidados{
    padding: 20px;
    text-align: left;
}
#imagens{
    margin: 50px;
}
.sect3{
    display: flex;
}
#comentários{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: auto;
    width: 50%;
    padding: 50px;
}