body {
    margin: 0;
    background-color: rgb(3,3,30);
    padding-top: 0;
}

#footer {
    margin-bottom: -15px;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 15px;
    margin: 30px 30px;
}

p {
    margin: 170px 170px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    margin-left: 40px;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.imagem {
    text-align: center;
    position: relative;
}

.carol {
    margin-top: 50px;
    margin-left: 170px;
}

h2 {
    margin-right: 900px;
}

#origem{
    display: flex;
}

.texto{
    margin-left: 50px;
}

#caroll {
    margin-top: 50px;
}

#conteudo {
    background-color: white;
    margin: 15px 15px;
    line-height: 36px;
}

#volei2{
    margin-left: 20px;
}

@media(max-width: 600px){
    p {
        text-align: center;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 25px;
        margin: 53px 53px;
    }

    #volei2 {
        margin-top: 40px;
        margin-left: 60px;
        width: 300px;
        height: 200px;
    }

    #volei1 {
        margin-top: 40px;
        margin-left: 25px 25px;
        width: 300px;
        height: 200px;
    }
    
    #conteudo {
        background-color: white;
        margin: 15px 1px;
        line-height: 36px;
    }
    #origem{
        display: flex;
        flex-direction: column;
    }

    h2{
      margin: 50px 50px;
    }

    h1{
        font-size: 25px;
    }
}