body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

#div-principal {
    background-color: rgb(14, 14, 15);
    border-radius: 5px;
    border-left: 10px solid rgb(177, 31, 31);
    margin-bottom: 60px;
}


p {
    text-align: left;
    font-size: 15px;

}

.h3-divgrande {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #070776;
    width: 70%;
    margin-bottom: 2%;
}

#h2-titleNews {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 0%;
    margin-bottom: 0%;
}

#img-1 {
    padding: 17px;
    border-radius: 5px;
}

#img-bannerNews {
    width: 799px;
    height: 390px;
}

.img_text2 {
    display: inline;
    text-align: left;

}

.div-lateral {
    width: 30px;
    display: flex;
}

#avo {
    display: flex;

}

#pai1 {
    width: 70%;
    padding: 10px;
}

#mae {
    width: 26%;
    border-left: 4px solid rgb(177, 31, 31);
    padding: 5px;
    background-color: rgb(224, 223, 223);
    margin: 0;
}

.tio {
    display: flex;
}

#img-sesi {
    width: 255px;
    margin-top: 0%;
}

#tia {
    margin-top: 50px;
}

#img-escola {
    width: 370px;
}

.p-text {
    text-align: justify;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;

}

.olhinho {
    display: flex;

    margin-left: 100px;
}

.containerTitleandCounter {
    display: flex;
}

.imgOlhoandCounter {
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
    padding-top: 0%;

}

#img-netflix {

    width: 300px;


}

.containerImgandLink p,
a {
    text-align: left;
    text-decoration: none;
    color: rgb(129, 129, 129);
}

.positionOlho {
    display: flex;
    justify-content: space-between;
}

.p-recado {
    margin: 0px;
}

#div-propaganda {
    margin-top: 50px !important;
    margin: 0;
    padding: 20px;
    height: 400px;
}

#botao-bolinha {
    width: 20px;
    display: flex;
    text-align: center;
}

.a-main {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    margin: 5px;
    -webkit-box-shadow: 10px -7px 57px -32px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px -7px 57px -32px rgba(0, 0, 0, 0.8);
    box-shadow: 10px -7px 57px -32px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.div-grande-subnews {
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 5px;
    -webkit-box-shadow: 10px -7px 57px -32px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px -7px 57px -32px rgba(0, 0, 0, 0.8);
    box-shadow: 10px -7px 57px -32px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-div-grande-news {
    width: 256px;
    height: 256px;
}

img {
    border-radius: 10px;
}

#divcomentarios1 {
    background-color: rgb(227, 237, 255);
    box-shadow: rgba(1, 61, 131, 0.3) 0px 0px 0px 3px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

#comentário {
    font-size: 30px;
    text-align: center;
}

#publicado2 {
    font-size: 20px;

}

#nomes {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#fotos {
    border-radius: 100%;
    margin-left: 5px;
    padding: 8px;
}

#coment {

    font-size: 21px;
}

#like {

    margin: 5px;
    margin-left: 1100px;
}

.fotos {
    width: 50px;
    height: 40px;
}

.img-geral {
    width: 250px;
}
.dropdown{
    background-color: rgb(25, 17, 65);
    margin: 0;
    padding-top: 0%;
    height: 70px;
}
.dropdown-toggle{
    display: none;
}
#logo{
    margin-left:50%;
}

.btn-secondary {
    background-color: rgb(25, 17, 65);

}
#menuft{
    width: 50px;
    height: 45px;
    margin-top: 5px;
    margin-left: 8px;
}
span{
    margin-left:600px ;
font-family: 'Castoro', serif;
font-size: 30px;
margin-top: 0;
padding-top: 0%;
color: rgb(255, 255, 255);

}


@media(max-width: 600px) {
    #header{
        height: 400px;
        width: 100%;
    }
    #footer{
        width: 100%;
    }

    body{
        padding: 0;
        margin: 0;
    }

    #pai1 {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #avo {
        display: flex;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    


    img {
        width: 90vw;

    }

    .imgolho {
        width: 8vw;
        height: 3vh;
    }

    .div-grande1 {
        width: 100vw;
    }

    #img-principal {
        width: 90vw;
        height: 30vh;
        margin-left: 20px;
        padding-top: 30px;
        border-radius: 5px;
    }

    .img_text {
        width: 60vw;
    }

    .img-geral {
        width: 90vw;
        margin-right: 0px;

    }

    .div-grande-subnews {
        background-color: rgb(255, 253, 253);
        width: 100vw;
        padding-left:0;

    }

    #div-principal {
        width: 100vw;
        background-color: #000000;
    }

    .h3-divgrande {
        font-size: 16px;
        padding-top: 5px;

    }

    .h3-divgrande {

        font-size: 20px;
        margin-left: 20px;
        color: #890a0a;

    }

    #h2-titleNews {
        color: #ffffff;
        font-size: 5px;
        margin-left: 90px;

    }

    .imgolho {
        width: 3vw;
        height: 1vh;
    }

    #img-1 {
        width: 90vw;
    }

    .p-text {
        font-size: 21px;
      

    }

    #img-2 {
        width: 95vw;
    }
     
    .img_text{
        width: 100vw;
    }
    #divcomentarios1 {
        background-color: rgba(255, 255, 255, 0.801);
        -webkit-box-shadow: 9px 12px 5px 0px rgba(61, 75, 166, 0.63);
        -moz-box-shadow: 9px 12px 5px 0px rgba(61, 75, 166, 0.63);
        box-shadow: 9px 12px 5px 0px rgba(64, 75, 148, 0.63);
     
        width: 90vw;
     
    }

    .coracaozin{
        width: 5vw;
    }
    .fotos{
        width: 15vw !important;
        height: 5vh;
     }
     #mae{
        padding-bottom: 10px;
        flex-direction: column;
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        width: 300px;
        margin-left: 20px;

    }
 }



